extends layouts/main

block content
  .form-container
    form(action='/user/editProfile', method='post')
      label(for="avatar") Avatar
      input(type="file", id='avatar', name='avatar')
      input(type="text", name='name', placeholder='Name')
      input(type="email", name='avatar', placeholder='Avatar')
      input(type="submit", value='Upadate Profile')
    a.form-container__link(href='/user/changePassword') Change Password
    